@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p> "About" page in a web app briefly describes the theme and purpose of the web app. Use this area to provide additional information.</p>
<p>Information: WEB524 Winter 2019 - Dan Lin </p>