@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment3</h1>
    <p class="lead">
        This assignment is for creating a simple ASP.NET MVC web app that round-trips data to-and-from a web
        browser, and ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.
    </p>
    <p><a href="https://s3.us-east-1.amazonaws.com/learn-us-east-1-prod-fleet01-xythos/5c082fb7a0cdb/8718875?response-content-disposition=inline%3B%20filename%2A%3DUTF-8%27%27Assignment%25203.pdf&response-content-type=application%2Fpdf&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20190208T043546Z&X-Amz-SignedHeaders=host&X-Amz-Expires=21600&X-Amz-Credential=AKIAIBGJ7RCS23L3LEJQ%2F20190208%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=48697908c492337f1da43774075aeeb2a1110800b1854cb62677587d2abaf391" 
           target="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>